.content {
  display: flex;
  .navbar {
    width: 250px;
    margin-right: 30px;

    .out {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: inherit;
      font-size: inherit;
      text-decoration: none;
    }
  }
}
